<section class="bg-light vh-100 ">
    <app-navbar></app-navbar>
  <div class="px-4 py-5 d-flex vh-100 align-items-center px-md-5 text-center text-lg-start">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-5 text-secondary fw-bold lh-1">
            The Power to Predict <br />
            <span class="" style="color: #3a71cb;">Policy Renewal</span>
          </h1>
          <p class="text-secondary">
            RetainSure leverages AI and historical data to identify customers at risk of churn. Access real-time scores, manage targeted campaigns, and maimize your policy renewal rate.
          </p>

          
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card border-0 bg-white ms-5 w-75 mt-5 shadow">
            <div class="card-body py-5 px-md-5">

              <form *ngIf="registerMode" (ngSubmit)="onRegisterSubmit()" class="needs-validation small text-secondary" novalidate>
              
                <h5 class="mb-4 text-center">Create your account</h5>

                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="regName" class="form-label">Name</label>
                    <input
                      type="text"
                      id="regName"
                      class="form-control"
                      [(ngModel)]="registerModel.name"
                      name="regName"
                      required
                    />
                    <div class="invalid-feedback">Please enter your name.</div>
                  </div>

                  <div class="col-md-6 mb-3">
                    <label for="regContact" class="form-label">Contact</label>
                    <input
                      type="text"
                      id="regContact"
                      class="form-control"
                      [(ngModel)]="registerModel.contact"
                      name="regContact"
                    />
                  </div>
                </div>

                <div class="mb-3">
                  <label for="regEmail" class="form-label">Email address</label>
                  <input
                    type="email"
                    id="regEmail"
                    class="form-control"
                    [(ngModel)]="registerModel.email"
                    name="regEmail"
                    required
                  />
                  <div class="invalid-feedback">Please enter a valid email.</div>
                </div>

                <div class="mb-3">
                  <label for="regPassword" class="form-label">Password</label>
                  <input
                    type="password"
                    id="regPassword"
                    class="form-control"
                    [(ngModel)]="registerModel.password"
                    name="regPassword"
                    required
                    minlength="6"
                  />
                  <div class="invalid-feedback">Password must be at least 6 characters.</div>
                </div>

                <div class="form-check d-flex justify-content-start mb-3">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    id="regTNC"
                    [(ngModel)]="registerModel.tnc"
                    name="regTNC"
                  />
                  <label class="form-check-label" for="regTNC">
                    Agree to our Terms and Conditions.
                  </label>
                </div>

                <button type="submit" class="btn fw-medium py-2 btn-submit text-sm text-white w-100">
                  SIGN UP
                </button>
                <div class="text-center mt-3">
                  <button type="button" class="btn toggle-btn btn-link p-0" (click)="toggleMode()">
                    {{ registerMode ? 'Already have an account? Login' : "Don't have an account? Register" }}
                  </button>
                </div>
              </form>

              <form *ngIf="!registerMode" (ngSubmit)="onLoginSubmit()" class="needs-validation small text-secondary" novalidate>
                
                <h5 class="mb-4 text-center">Welcome back!</h5>

                <div class="mb-3">
                  <label for="loginEmail" class="form-label">Email address</label>
                  <input
                    type="email"
                    id="loginEmail"
                    class="form-control"
                    [(ngModel)]="loginModel.email"
                    name="loginEmail"
                    required
                  />
                  <div class="invalid-feedback">Please enter a valid email.</div>
                </div>

                <div class="mb-4">
                  <label for="loginPassword" class="form-label">Password</label>
                  <input
                    type="password"
                    id="loginPassword"
                    class="form-control"
                    [(ngModel)]="loginModel.password"
                    name="loginPassword"
                    required
                  />
                  <div class="invalid-feedback">Please enter your password.</div>
                </div>

                <button type="submit" class="btn btn-submit py-2 fw-medium text-white w-100"  style="background-color: #3a71cb;">
                  LOGIN
                </button>

                <div class="text-center mt-3">
                  <button type="button" class="btn toggle-btn btn-link p-0" (click)="toggleMode()">
                    {{ registerMode ? 'Already have an account? Login' : "Don't have an account? Register" }}
                  </button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>